n8n-complete-production.json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadsup-webhook",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "429f544e-3b8d-4e8b-b3b7-5591f0092347",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1632,
        96
      ],
      "webhookId": "6a198051-0fc6-402e-a9a1-6f3c326dd1b9"
    },
    {
      "parameters": {
        "url": "https://app.leadsup.io/api/campaigns/automation/process-pending",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "867f7689-e8a0-4fab-8a02-ec395d5573d2",
      "name": "Get Pending Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1408,
        96
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "L9UUJ3ZXyeG75s0W",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform the API response to extract individual contacts\nconst response = $input.first().json;\nconsole.log('📧 Raw API Response:', JSON.stringify(response, null, 2));\n\nif (!response.success || !response.data || !Array.isArray(response.data) || response.data.length === 0) {\n  console.log('❌ No campaign data found');\n  return [];\n}\n\nconst campaignData = response.data[0]; // Get first campaign\nconst contacts = campaignData.contacts || [];\n\nif (contacts.length === 0) {\n  console.log('❌ No contacts found in campaign');\n  return [];\n}\n\n// Transform each contact into email format for n8n\nconst emailsToSend = contacts.map(contact => {\n  const sequence = contact.nextSequence;\n  const sender = contact.sender;\n  \n  // Replace template variables in subject and content\n  let subject = sequence.subject\n    .replace(/{{firstName}}/g, contact.firstName)\n    .replace(/{{lastName}}/g, contact.lastName)\n    .replace(/{{company}}/g, contact.company)\n    .replace(/{{title}}/g, contact.title)\n    .replace(/{{senderName}}/g, sender.name);\n    \n  let content = sequence.content\n    .replace(/{{firstName}}/g, contact.firstName)\n    .replace(/{{lastName}}/g, contact.lastName)\n    .replace(/{{company}}/g, contact.company)\n    .replace(/{{title}}/g, contact.title)\n    .replace(/{{senderName}}/g, sender.name);\n\n  return {\n    // Email details\n    email: contact.email,\n    subject: subject,\n    body: content.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n').replace(/\\n\\n+/g, '<br/><br/>').replace(/\\n/g, '<br/>'), // Convert line breaks to HTML properly\n    \n    // Sender details\n    sender_email: sender.email,\n    sender_name: sender.name,\n    \n    // Tracking IDs\n    campaign_id: campaignData.id,\n    contact_id: contact.id,\n    sequence_id: sequence.id,\n    \n    // Additional data\n    firstName: contact.firstName,\n    lastName: contact.lastName,\n    company: contact.company,\n    title: contact.title,\n    scheduledFor: contact.scheduledFor\n  };\n});\n\nconsole.log(`✅ Prepared ${emailsToSend.length} emails to send`);\nconsole.log('📧 First email preview:', emailsToSend[0]);\n\nreturn emailsToSend;"
      },
      "id": "3fb913e9-5dd7-4c96-bb9e-bd379dca9d68",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-emails",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8bedce30-b56f-48f3-8853-da18e47bd6aa",
      "name": "Check Has Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -976,
        96
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "replyTo": "={{ $json.sender_email }}"
        }
      },
      "id": "eb5993af-c7a5-457f-bd94-086428f30e78",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -752,
        -16
      ],
      "webhookId": "0acf10a2-79c3-4e96-95d4-74717829daa8",
      "credentials": {
        "gmailOAuth2": {
          "id": "IOTDtRgindkH9yFZ",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app.leadsup.io/api/campaigns/tracking/sent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=campaign_id",
              "value": "={{ $('Transform Data').item.json.campaign_id }}"
            },
            {
              "name": "=contact_id",
              "value": "={{ $('Transform Data').item.json.contact_id }}"
            },
            {
              "name": "=sequence_id",
              "value": "={{ $('Transform Data').item.json.sequence_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "sent_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "sender_type",
              "value": "gmail"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "6e195c5a-8ea5-4cc4-ac0f-f3f4da189513",
      "name": "Track Email Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -96
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "L9UUJ3ZXyeG75s0W",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.leadsup.io/api/campaigns/tracking/sent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "campaign_id",
              "value": "={{ $('Transform Data').item.json.campaign_id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('Transform Data').item.json.contact_id }}"
            },
            {
              "name": "sequence_id",
              "value": "={{ $('Transform Data').item.json.sequence_id }}"
            },
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error ? JSON.stringify($json.error) :    'Email sending failed' }}"
            },
            {
              "name": "sent_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "sender_type",
              "value": "gmail"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "4846d673-c0cd-4b23-b74c-8dc36a20dc31",
      "name": "Track Email Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "L9UUJ3ZXyeG75s0W",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log successful email\nconst emailData = $('Transform Data').item.json;\nconst gmailResponse = $json;\n\nconsole.log('✅ SUCCESS:', {\n  to: emailData.email,\n  subject: emailData.subject,\n  messageId: gmailResponse.id,\n  campaign_id: emailData.campaign_id\n});\n\nreturn [{ success: true, email: emailData.email, messageId: gmailResponse.id }];"
      },
      "id": "c6f3a4e0-fcc3-4e9a-a687-ad0e0e024f86",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log failed email\nconst emailData = $('Transform Data').item.json;\nconst errorData = $json;\n\nconsole.log('❌ FAILURE:', {\n  to: emailData.email,\n  subject: emailData.subject,\n  error: errorData,\n  campaign_id: emailData.campaign_id\n});\n\nreturn [{\n  json: { success: false, email: emailData.email, error: errorData }\n}];"
      },
      "id": "10880c23-e4c5-4007-bc51-7c9c8176eaf1",
      "name": "Log Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log('ℹ️ No emails found to send');\nreturn [{ message: 'No emails found' }];"
      },
      "id": "221a170d-a1f1-4757-8249-9fd210dbac6e",
      "name": "Log No Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        256
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "91a60c5b-1595-43ad-8420-46b31cfc90a4",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        112
      ],
      "webhookId": "e1d7b975-2c89-44b2-a417-b1b80e6dc950"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Get Pending Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Emails": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Check Has Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Emails": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [
          {
            "node": "Track Email Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Email Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Email Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Email Failure": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f5de268-1a1b-418e-999f-fb2c7fce51ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "065faa0a6780ab7c9ceb75177e404297e46f853c365658e4c18940d6cc0c298c"
  },
  "id": "BRNKbVtZtbqn0jQi",
  "tags": [
    {
      "createdAt": "2025-08-09T17:45:13.055Z",
      "updatedAt": "2025-08-09T17:45:13.055Z",
      "id": "uWaIZ12ileQcer2m",
      "name": "Email Automation"
    }
  ]
}