n8n-js-email-bridge.json
{
  "name": "JS Email Bridge - Call JavaScript API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadsup-webhook",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "webhook-start",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.leadsup.io/api/campaigns/automation/send-emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-js-bridge/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "call-js-api",
      "name": "Call JavaScript Email API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "L9UUJ3ZXyeG75s0W",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "js-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-js-success",
      "name": "Check JS API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log successful JavaScript email sending\nconst response = $input.first().json;\n\nconsole.log('✅ JavaScript Email API Success!');\nconsole.log(`📧 Sent: ${response.sent || 0}`);\nconsole.log(`❌ Failed: ${response.failed || 0}`);\nconsole.log(`⏰ Processed at: ${response.processedAt}`);\n\nif (response.errors && response.errors.length > 0) {\n  console.log('⚠️ Errors encountered:');\n  response.errors.forEach((error, i) => {\n    console.log(`  ${i + 1}. ${error.contact} (${error.sender}): ${error.error}`);\n  });\n}\n\nreturn [{\n  success: true,\n  method: 'javascript',\n  sent: response.sent || 0,\n  failed: response.failed || 0,\n  processedAt: response.processedAt,\n  errors: response.errors || []\n}];"
      },
      "id": "log-js-success",
      "name": "Log JS Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log JavaScript API failure\nconst response = $input.first().json;\n\nconsole.log('❌ JavaScript Email API Failed!');\nconsole.log('Error details:', JSON.stringify(response, null, 2));\n\nreturn [{\n  success: false,\n  method: 'javascript',\n  error: response.error || 'Unknown error',\n  response: response\n}];"
      },
      "id": "log-js-failure",
      "name": "Log JS Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Final summary\nconst data = $input.first().json;\n\nif (data.success) {\n  console.log('🎯 Email sending complete via JavaScript API');\n  console.log(`📊 Final stats: ${data.sent} sent, ${data.failed} failed`);\n} else {\n  console.log('❌ Email sending failed via JavaScript API');\n  console.log(`🔍 Error: ${data.error}`);\n}\n\nreturn [data];"
      },
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Call JavaScript Email API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call JavaScript Email API": {
      "main": [
        [
          {
            "node": "Check JS API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check JS API Success": {
      "main": [
        [
          {
            "node": "Log JS Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log JS Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log JS Success": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log JS Failure": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "js-bridge-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "JavaScript Bridge",
      "createdAt": "2025-08-10T06:00:00.000Z",
      "updatedAt": "2025-08-10T06:00:00.000Z"
    }
  ]
}