n8n-email-workflow.json
{
  "name": "LeadsUp Email Capture",
  "nodes": [
    {
      "parameters": {
        "path": "email-webhook",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook",
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "email-capture"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "from_email",
              "value": "={{ $json.from?.toLowerCase() || $json.sender?.toLowerCase() || 'unknown@example.com' }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "to_email",
              "value": "={{ $json.to?.toLowerCase() || $json.recipient?.toLowerCase() || 'campaign@leadsup.com' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "subject",
              "value": "={{ $json.subject || 'No Subject' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "body_text",
              "value": "={{ $json.text || $json.body || $json.plain || '' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "body_html",
              "value": "={{ $json.html || $json.body_html || '' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "message_id",
              "value": "={{ 'n8n-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract",
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ajcubavmrrxzmonsdnsj.supabase.co/rest/v1/campaign_senders?email=eq.{{ $json.to_email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            }
          ]
        }
      },
      "id": "find-sender",
      "name": "Find Campaign Sender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operation": "larger"
            }
          ]
        }
      },
      "id": "check",
      "name": "Is Campaign Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "user_id",
              "value": "={{ $json[0].user_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "campaign_id",
              "value": "={{ $json[0].campaign_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "conversation_id",
              "value": "={{ Buffer.from([$('Extract Email Data').item.json.from_email, $('Extract Email Data').item.json.to_email].sort().join('|')).toString('base64').replace(/[^a-zA-Z0-9]/g, '').substring(0, 32) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ajcubavmrrxzmonsdnsj.supabase.co/rest/v1/inbox_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"message_id\": \"{{ $('Extract Email Data').item.json.message_id }}\",\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"contact_email\": \"{{ $('Extract Email Data').item.json.from_email }}\",\n  \"sender_email\": \"{{ $('Extract Email Data').item.json.to_email }}\",\n  \"subject\": \"{{ $('Extract Email Data').item.json.subject }}\",\n  \"body_text\": \"{{ $('Extract Email Data').item.json.body_text }}\",\n  \"body_html\": \"{{ $('Extract Email Data').item.json.body_html }}\",\n  \"direction\": \"inbound\",\n  \"channel\": \"email\",\n  \"status\": \"unread\",\n  \"folder\": \"inbox\",\n  \"provider\": \"n8n\",\n  \"sent_at\": \"{{ $('Extract Email Data').item.json.timestamp }}\",\n  \"received_at\": \"{{ $('Extract Email Data').item.json.timestamp }}\"\n}"
      },
      "id": "store",
      "name": "Store in Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ajcubavmrrxzmonsdnsj.supabase.co/rest/v1/inbox_threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqY3ViYXZtcnJ4em1vbnNkbnNqIiwicm9sZSI6InNlcnZpY2Fvcm9sZSIsImlhdCI6MTc1NDQ3NTM4NSwiZXhwIjoyMDcwMDUxMzg1fQ.6WttVoVbs6-h2E7dNDJaGFAEhLw1IJcJjlPoZ-smTyk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Prepare Message').item.json.user_id }}\",\n  \"conversation_id\": \"{{ $('Prepare Message').item.json.conversation_id }}\",\n  \"campaign_id\": \"{{ $('Prepare Message').item.json.campaign_id }}\",\n  \"contact_email\": \"{{ $('Extract Email Data').item.json.from_email }}\",\n  \"subject\": \"{{ $('Extract Email Data').item.json.subject }}\",\n  \"last_message_at\": \"{{ $('Extract Email Data').item.json.timestamp }}\",\n  \"last_message_preview\": \"{{ $('Extract Email Data').item.json.body_text.substring(0, 150) }}\",\n  \"status\": \"active\"\n}"
      },
      "id": "thread",
      "name": "Update Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Email captured successfully\",\n  \"message_id\": \"{{ $('Extract Email Data').item.json.message_id }}\",\n  \"conversation_id\": \"{{ $('Prepare Message').item.json.conversation_id }}\",\n  \"timestamp\": \"{{ $('Extract Email Data').item.json.timestamp }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Not a campaign email, ignored\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ignore",
      "name": "Ignore Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [[{"node": "Extract Email Data", "type": "main", "index": 0}]]
    },
    "Extract Email Data": {
      "main": [[{"node": "Find Campaign Sender", "type": "main", "index": 0}]]
    },
    "Find Campaign Sender": {
      "main": [[{"node": "Is Campaign Email?", "type": "main", "index": 0}]]
    },
    "Is Campaign Email?": {
      "main": [
        [{"node": "Prepare Message", "type": "main", "index": 0}],
        [{"node": "Ignore Response", "type": "main", "index": 0}]
      ]
    },
    "Prepare Message": {
      "main": [[{"node": "Store in Inbox", "type": "main", "index": 0}]]
    },
    "Store in Inbox": {
      "main": [[{"node": "Update Thread", "type": "main", "index": 0}]]
    },
    "Update Thread": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}